.btn-flat {
  color: rgb(193, 87, 87);
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(237, 203, 203);
  transition: background 0.3s ease;
}

.btn-cancel {
  color: rgb(226, 222, 221);
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(93, 28, 20);
  transition: background 0.3s ease;
  margin: 10px;
}
